/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
* { box-sizing: border-box; }
body { color: rgba(0, 0, 0, 0.8); }
a { color: rgb(139, 184, 230); }
a:hover { color: rgb(255, 255, 255); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

/* HEADER */
header {
    background-color: rgb(66, 97, 106);
    color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgb(66, 97, 106);
    text-decoration: none;
}

header a:hover {
    color: rgba(255, 255, 255, 1);
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background: rgba(185, 185, 185, 0.767);
}

section {
    padding: 3em 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 1em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width: 760px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }

    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, .1);
    }
}

aside {
    padding: 0 1em;
}

.primary {
    padding: 0 1em;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
    background-color: rgb(66, 97, 106);
}

/* HERO SECTION */
.hero {
    background-color: rgb(100, 125, 113);
    text-align: center;
    color: white;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
    background-color: rgb(66, 97, 106);
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
    color: white;
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: rgba(66, 97, 106, .75);
    color: rgba(255, 255, 255, 1);
}

.coursework {
    /* background-color: rgb(178, 203, 200); */
    background-color: rgb(66, 97, 106);
}

.projects {
    color: white;
}

.page-sub header {
    background-color: rgb(178, 203, 200);
}

/* STYLING FOR HOME PAGE */
.page-home .hero {
    background-image: url('../img/seagreenblue.jpg');
    background-position: center;
    background-size: cover;
    padding: 30vh 1em 20vh 1em;
}

.page-home header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

/* COURSEWORK */
.coursework {
    padding: 5em 1em;
}

/* COURSE PAGES WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}

/* FOR WEB DEV PURPOSES ONLY */
/* body, * {
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.5);
} */