/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #ARTICLE
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #CONTAINER
        #MEDIAQUERIES
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
            #ARTICLE
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */


/* TYPOGRAPHY */

body {
    font-size: 87.5%; /* 14px = 1em */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

/* HEADINGS */
/* #HEADINGS
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1.1;
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.2;
}

h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.3;
}

h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1;
}

h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;
}

h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5;
}

/* PARAGRAPHS */
p {
    margin: .5em 0;
    max-width: 38em;
}

/* LINKS */
a {
    color: rgba(0, 0, 153, 0.8);
    text-decoration: none;
}
a:hover {
    color: rgba(0, 0, 153, 1);
    text-decoration: underline;
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
@media (min-width: 768px) {
    .hidden-desktop {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
@media (max-width: 767px) {
    .hidden-mobile {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
.full-width {
    max-width: none;
    width: 100%;
}
.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button,
button {
    font-size: inherit;
    line-height: 1;
    background-color: rgba(0, 0, 255, 1);
    border: 1px solid rgba(0, 0, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 1em;
    display: inline-block;
    margin: .5em .5em .5em 0;
    text-align: center;
    border-radius: .5em;
}
.button:hover,
button:hover {
    background-color: rgba(0, 0, 153, 1);
    border-color: rgba(0, 0, 153, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.button.alt {
    border: 1px solid rgba(0, 0, 153, 1);
    background-color: transparent;
    color: rgba(0, 0, 153, 1);
}
.button.alt:hover {
    background-color: rgba(0, 0, 153, 1);
    color: rgba(255, 255, 255, 1);
}

/* LAYOUT */

/* SIMPLE RESET */
* { box-sizing: border-box; }
body {margin: 0; }

/* CONTAINER */
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    body {
        font-size: 100%; /* 16px */
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18 */ 
    }
    .container {
        max-width: 1200px;
    }
}


/* DEMO PURPOSES ONLY */
body.demo {
    padding-top: 2em;
}
body.demo::before {
    content: "Small (Mobile) Less Than 768px";
    background-color: #993333;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    padding: .5em;
}

@media (min-width: 768px) {
    body.demo::before {
        background-color: #bcb83d;
        content: "Midsize (Tablet) Screen 768px - 1050px";
    }
}

@media (min-width: 1050px) {
    body.demo::before {
        background-color: #693;
        content: "Large (Notebook) Screen 1050px - 1250px";
    }
}

@media (min-width: 1250px) {
    body.demo::before {
        background-color: #09c;
        content: "Extra Large (Desktop) Screen 1250px +";
    }
}

/* SEMANTIC GRID SYSTEM */

.row > .column {
    margin-bottom: 4%;
}

@media (min-width: 768px) {

    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }
    
    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 62.6666%;
    }

    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* DEMO PURPOSES ONLY */
.demo .column {
    background: rgba(0, 0, 0, .2);
    padding: .5em;
    text-align: center;
}

/* SITE STRUCTURE */



/* SITE HEADER */
.site-header {
    background: #fff;
    border-bottom: 0px solid #ccc;
}

.site-header .container {
    padding-top: .5em;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
    .site-header .container {
    display: flex;
    justify-content: space-between;
    padding-top: .75em;
    }
    .site-nav ul {
        border-top: none;
        margin: 0;
        padding: 0;
    }
    .site-nav ul li {
        display: inline-block;
        /* DROP DOWN MENU */
        /* stack nested lists */
        /* hide nested lists by default */
        /* show nested lists on hover */
        /* SELECTED STATE */
    }
    .site-nav ul li a {
        margin: 0 .5em;
        padding: 0.85em 0.5em 0.75em 0.5em;
    }
    .site-nav ul li li {
        display: block;
    }
    .site-nav ul li ul {
        text-align: left;
        position: absolute;
        z-index: 100;
        left: -9000px;
        background: #fff;
    }
    .site-nav ul li ul a {
        color: #999;
    }
    .site-nav ul li.selected a, .site-nav ul li.current-menu-item li a {
        font-weight: bold;
    }
    .site-nav ul li.selected li a, .site-nav ul li.current-menu-item li a {
        font-weight: normal;
    }
}

/* STYLING FOR BOTH HEADER AND FOOTER */
.site-header a,
.site-footer a {
    color: rgba(0, 0, 0, .8);
}
.site-header a:hover,
.site-footer a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

/* LOGO AREA */
.site-id {
    text-align: center;
}
.site-id h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #999;
    padding: 0.5em 0 0.4em 0;
}

.site-id h1 a {
    font-weight: bold;
    display: inline-block;
}

/* SITE NAV */
.site-nav {
    font-family: Helvetica, Arial, sans-serif;
}

.site-nav .menu-button {
    display: none;
}

.site-nav ul {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
}

.site-nave ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.site-nav ul li li {
    display: inline-flex;
}

.site-nav ul li a {
    display: block;
    padding: .5em .75em .4em .75em;
}

.site-nav ul li ul {
    border-top: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .site-nav ul li, .site-nav ul li ul li {
        display: block;
    }
}

/* Default Site-Navigation (footer only) */
.site-footer .site-nav ul {
    border-top: none;
    margin: 0;
}

/* .site-nav a {
    display: block;
    padding: .85em .5em .75em .5em;
} */


/* SECTIONS */
section {
    padding: 3em 0;
}

/* SITE FOOTER */
/* .site-footer {
    background-color: rgba(0, 0, 255, .2);
} */

/* HERO */
/* .hero {
    padding: 6em 4%;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
}

.hero h1, p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
} */

/* FOOTER ONLY */
.site-footer {
    background: #fff;
    border-top: 0px solid #ccc;
}

.site-footer .container {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

@media (min-width: 768px) {
    .site-footer .container {
        display: flex;
        justify-content: center;
        padding-bottom: 0.5em;
    }
}

/* Hero Sections */
.container .hero {
    position: relative;
    top: 2em;
    margin-bottom: 3em;
  }
  
  .hero {
      background: rgb(255, 255, 255);
      border-top: none;
      padding: 4em 1em 3em 1em;
      margin-bottom: 1.5em;
  }
  
  .hero h1,
  .hero h2 {
      font-size: 8em;
      font-size: 8vw;
      font-size: clamp(4em, 8vw, 8em);
      line-height: 1.1em;
      max-width: 7em;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
      font-family: 'Jura', sans-serif;
      padding: 0em 0em 0em .75em;
  }
  
  .hero p {
      max-width: 22em;
  }
  
  .hero.text-centered h1,
  .hero.text-centered h2,
  .hero.text-centered h3,
  .hero.text-centered h4,
  .hero.text-centered h5,
  .hero.text-centered h6,
  .hero.text-centered p {
      margin-left: auto;
      margin-right: auto;
  }
  
  .hero.full-width {
      margin-top: 0;
      margin-bottom: 0;
  }

/* TOGGLE NAV */

@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin-bottom: .8em;
        border: 1px solid black;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255, 255, 255, 0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
        background-color: rgba(0, 0, 153, 1);
        color: white;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255, 255, 255, 0);
        padding: 0;
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: .3em .1em;
        margin: 0;
        color: rgba(0, 0, 0, .8);
        font-size: 1.5em;
    }
    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* SUB PAGES */

article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

article h1, 
article h1 + .subhead, 
article .date {
    text-align: center;
}

article h2.subhead {
    font-size: 1.5em;
    line-height: 1.2;
}

article .subhead {
    font-weight: normal;
    opacity: .7;
}

article .date {
    font-size: .75em;
    opacity: .5;
    margin-bottom: 3em;
}

article p + h1
article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
    margin-top: 1.5em;
}

/* article p:first-of-type {
    font-size: 1.4em;
    line-height: 1.3;
} */

article p:first-of-type:first-letter {
    font-size: 3em;
    line-height: 1em;
    background: #000;
    color: #fff;
    padding: .4em .4em;
    margin-right: .4em;
    margin-bottom: .3em;
    float: left;
}

/* FORMS */

form {
    margin: 1.75em 0;
}

form label {
    display: block;
}

form input,
form textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.15em;
    display: block;
    margin-bottom: 1.25em;
    width: 100%;
    color: #666;
    padding: .25em;
    border: 1px solid #ccc;
}

form textarea {
    border: 1px solid #ccc;
    min-height: 6em;
}

form input[type=button],
form input[type=submit],
form input[type=reset] {
    width: auto;
    background-color: rgba(0, 0, 255, 1);
    border: 1px solid rgba(0, 0, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: .75em 1em;
    -webkit-border-radius: .32em;
    -moz-border-radius: .32em;
    border-radius: .32em;
    margin-top: .5em;
    margin-bottom: .5em;
}

form input[type=button]:hover,
form input[type=submit]:hover,
form input[type=reset]:hover {
    background-color: rgba(0, 0, 153, 1);
    border-color: rgba(0, 0, 153, 1);
}

/* CUSTOM SITE CSS */
/* .section-title {
    text-align: center;
    margin-bottom: 2em;
}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    margin: .5em auto;
    border-bottom: 3px solid rgba(0, 0, 0, .2);
} */

#about {
    background: rgba(0, 0, 0, 0.05);
}

#contact {
    background: rgba(0, 0, 0, 0.1);
}

/* STICKY header - works with a class="sticky" on .site-header */
.site-header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.site-header.sticky + .site-main {
    padding-top: 3em;
}

/* Colored Sections */
section.superlightgrey {
    background: #f9f9f9;
    padding: 5em 0 2em 0;
}

section.lightgrey {
    background: #e0e0e0;
    padding: 5em 0 2em 0;
}

section.darkgrey {
    background: #222;
    color: #fff;
    padding: 5em 0 2em 0;
}

section.darkgrey a.button {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

section.darkgrey a.button:hover {
    background-color: white;
}

section.darkgrey a.button.alt {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

section.darkgrey a.button.alt:hover {
    background-color: white;
    color: black;
    border-color: transparent;
}

section.hero.superlightgrey, section.hero.lightgrey, section.hero.darkgrey {
    padding: 6em 1em 5em 1em;
}

/* LEFT OFF HERE LEFT OFF HERE FROM FRIDAY */

/* OPTIONAL Animated Toggle-Nav Menu */
@media (max-width: 767px) {
    .toggle-nav.animated ul {
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0;
      border-width: 0;
      transition: all 0.3s ease;
    }
    .toggle-nav.animated[data-navstate="open"] ul {
      max-height: 138em;
      opacity: 1;
      padding: 0.5em 0;
      border-width: 0px;
      transition: all 0.6s ease;
    }
    .toggle-nav.animated li {
      padding: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
    .toggle-nav.animated[data-navstate="open"] li {
      padding: 0.25em;
      opacity: 1;
      transition: all 0.6s ease 0.2s;
    }
    .toggle-nav.animated li a {
      padding: 0;
      transition: all 0.3s ease;
    }
    .toggle-nav.animated[data-navstate="open"] li a {
      padding: 0.75em;
    }
  }

  .hero.text-align.left {
      text-align: left;
  }

  .subhero.text-align.left {
      text-align: left;
  }

  .subhero.text-align.right {
      text-align: right;
  }

  section.subhero.text-align.left {
      padding: 6em 0em 0.5em 0em;
  }

  section.subhero.text-align.right {
    padding: 0.5em 0em 3em 0em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.menu.item.text-align.left {
    padding: 1em 0em 1em 0em;
}

.menu.item.two h1 {
    font-size: 5em;
    padding: 0.15em 0em 0em 2em;
    font-family: 'EB Garamond', serif;
    margin: .1em 0;
}

.menu.item.three h1 {
    font-size: 5em;
    padding: 0em 2em 0em 0em;
    text-align: right;
    font-family: 'Josefin Sans', sans-serif;
    margin: .1em 0;
}

.menu.item.four h1 {
    font-size: 8em;
    padding: 0em 0em 0em .65em;
    text-align: left;
    font-family: 'Jura', sans-serif;
    font-style: italic;
    margin: .1em 0;
}

.menu.item.five h1 {
    font-size: 5em;
    padding: 0em 1em 0em 0em;
    text-align: right;
    font-family: 'Gloria Hallelujah', cursive;
    margin: .1em 0em .5em 0em;
}

/* .hero h1 {
    font-size: 8em;
    padding: 0em 0em 0em .75em;
} */

/* Grid */

@media (min-width: 768px) {
    .mygrid {
      /* background-color: rgba(255, 0, 0, 0.1); */
      display: grid;
      grid-template-columns: repeat(12, 8.333%);
      grid-template-rows: repeat(7, 10vh);
      font-size: 14px;
    }
  
    .person-1 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
    }

    .person-1 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-1 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-1 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-2 {
        grid-column-start: 6;
        grid-column-end: 9;
    }

    .person-2 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-2 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-2 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }
    
    .person-3 {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 3;
    }
    
    .person-3 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-3 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-3 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-4 {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
    }
    
    .person-4 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-4 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-4 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
    }
    
    .person-5 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-5 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .person-5 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    }
    
    .person {
      margin-bottom: 6em;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }

/* GRID 2 SCENES */
@media (min-width: 768px) {
    .mygrid2 {
        /* background-color: rgba(255, 0, 0, 0.1); */
        display: grid;
        grid-template-columns: repeat(12, 8.333%);
        grid-template-rows: repeat(8, 10vh);
        font-size: 14px;
    }
  
    .scene-1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    .scene-1 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-1 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-1 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-2 {
        grid-column-start: 8;
        grid-column-end: 12;
    }

    .scene-2 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-2 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-2 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }
    
    .scene-3 {
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 4;
    }
    
    .scene-3 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-3 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-3 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
    }
    
    .scene-4 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-4 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .scene-4 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    }

    .scene {
        margin-bottom: 6em;
      }

/* GRID 3 SERIES */
@media (min-width: 768px) {
    .mygrid3 {
        /* background-color: rgba(255, 0, 0, 0.1); */
        display: grid;
        grid-template-columns: repeat(16, 6.25%);
        grid-template-rows: repeat(10, 10vh);
        font-size: 14px;
    }
  
    /* .series-1 {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    .series-1 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-1 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-1 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-2 {
        grid-column-start: 9;
        grid-column-end: 15;
    }

    .series-2 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-2 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-2 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }
    
    .series-3 {
        grid-column-start: 13;
        grid-column-end: 17;
        grid-row-start: 4;
    }
    
    .series-3 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-3 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-3 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-4 {
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 6;
    }
    
    .series-4 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-4 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-4 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    }

    .series {
        margin-bottom: 6em;
      } */

    .series-1 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
    }

    .series-1 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-1 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-1 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-2 {
        grid-column-start: 8;
        grid-column-end: 14;
    }

    .series-2 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-2 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-2 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }
    
    .series-3 {
        grid-column-start: 13;
        grid-column-end: 17;
        grid-row-start: 4;
    }
    
    .series-3 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-3 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-3 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-4 {
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 6;
    }
    
    .series-4 h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-4 h5 {
        font-size: 14px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-4 p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-about {
        grid-column: 7/11;
        grid-row-start: 4;
    }
    
    .series-about h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        display: inline-block;
        width: 25%;
        font-size: 14px;
        line-height: 1.4;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-about h5 {
        display: inline-block;
        width: 75%;
        font-size: 14px;
        line-height: 1.4;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    .series-about p {
        font-size: 12px;
        margin: .25em auto;
        font-family: 'Libre Franklin', sans-serif;
    }

    }

    .series {
        margin-bottom: 6em;
      }
